@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    padding-bottom: 40px;
    max-width: 360px;
    border-radius: 30px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    border-radius: 15px;
}

.textContent {
    padding: 10px;
    text-align: center;
}

h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 10px;
}

p {
    padding: 10px 10px 0px 10px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

@media screen and (max-width: 425px) {
    .container {
        width: 85%;
    }
}                               